pkgbase = hcp-bin
	pkgdesc = Lets you administer HashiCorp Cloud Platform (HCP) resources and services.
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/hashicorp/hcp
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	provides = hcp=0.8.0
	conflicts = hcp
	source_x86_64 = https://releases.hashicorp.com/hcp/0.8.0/hcp_0.8.0_linux_amd64.zip
	sha256sums_x86_64 = 5b00869908c25ff68291b51c5d3538655eb31b927c71db37baa7b89441e99f78
	source_aarch64 = https://releases.hashicorp.com/hcp/0.8.0/hcp_0.8.0_linux_arm64.zip
	sha256sums_aarch64 = b98b0a535263b0947aee13e8abdc5d1f402b316d5535201c6903abe96335fb09

pkgname = hcp-bin
