pkgbase = hcp-bin
	pkgdesc = Lets you administer HashiCorp Cloud Platform (HCP) resources and services.
	pkgver = 0.10.0
	pkgrel = 1
	url = https://github.com/hashicorp/hcp
	arch = x86_64
	arch = aarch64
	license = MPL-2.0
	provides = hcp=0.10.0
	conflicts = hcp
	source_x86_64 = https://releases.hashicorp.com/hcp/0.10.0/hcp_0.10.0_linux_amd64.zip
	sha256sums_x86_64 = d9f0af27a87c4bf43ab15139985c99a4c70b0e3e37b64d1a97e6978550fb79fe
	source_aarch64 = https://releases.hashicorp.com/hcp/0.10.0/hcp_0.10.0_linux_arm64.zip
	sha256sums_aarch64 = 3c9becec5ce1feb9481600bc2b39c71fbed025c3183382478edcaf8dc11425c9

pkgname = hcp-bin
